/* ------- Réalisations ------- */
.cat-gallery .col.med-show {
	height: 100%;
	padding-top : 10vw;
}

.cat-gallery .image {
	height: 100%;
	background-color: #888;
	display: flex;
	justify-content: center;
	padding: 0;
}

.cat-gallery .image img {
	margin: 1rem 0 3rem 0;
	max-height: 100vh;
}

/* ----- article pagination ----- */
.art-navigation-overlay {
	display: flex;
}

.art-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	list-style: none;
}

.art-navigation a {
	display: inline-block;
	min-width: 3rem;
	margin: 0 0.5rem;
	padding-bottom: 0.3rem;
	background-color: #e0e0e0;
	color: #888;
	text-align: center;
	font-size: 1.5rem;
	text-transform: capitalize;
	border-radius: 0.3rem;
	cursor: pointer;
}

.art-navigation a:hover {
	background-color: #e99827;
	color: #0f3a69;
}

.art-navigation.close {
	margin: 1rem 0;
	justify-content: space-between;
}

.art-navigation.close li:last-child{
	visibility: hidden;
}

.art-navigation-overlay.range {
	justify-content: end;
}

@media (max-height: 500px) OR (max-width: 400px) {
	.cat-gallery .image img {
		margin: 0;
	}
	.cat-gallery .image.col {
		padding: 0;
	}
}

.cat-gallery .article .written-by:after {
	content: none;
}

/* ------- Comments ------- */

#form {
	border-top: 130px solid transparent;
	margin: -130px 0 0;
}

.comment {
	text-align: center;
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	margin-bottom: 2.5rem;
	padding-left: 6rem;
	border-top: 100px solid transparent;
	margin-top: -100px;
}

.comment blockquote {
	margin: 0;
	font-size: 1.3rem;
}

.type-admin {
	background-color: #F0F8FF;
	padding: .2rem .5rem;
}

.nbcom {
	background-color: #0f3a69;
	border-radius: .3rem;
	color: #fff;
	padding: .4rem .6rem;
}

.nbcom:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}

.level-0 {
	margin-left: 0;
}

.level-1 {
	margin-left: 5rem;
}

.level-2 {
	margin-left: 10rem
}

.level-3 {
	margin-left: 15rem;
}

.level-4 {
	margin-left: 20rem;
}

.level-5,
.level-max {
	margin-left: 25rem;
}

@media (max-width: 768px) {
	.comment {
		background-image: none;
		padding-left: 0;
	}
	.level-1 {
		margin-left: 1rem;
	}
	.level-2 {
		margin-left: 2rem;
	}
	.level-3 {
		margin-left: 3rem;
	}
	.level-4 {
		margin-left: 4rem;
	}
	.level-5,
	.level-max {
		margin-left: 5rem;
	}
}

#id_answer {
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	border: 1px solid #eee;
	width: 100%;
	background: #fafafa;
	display: none;
}
