/* ------- Réalisations ------- */

.cat-gallery .gal-thumb {
	line-height: 250px;
	margin-top: 30px;
}

.cat-gallery .gal-thumb img {
  margin-left: auto;
  margin-right: auto;
	float: none!important;
	max-height: 230px;
	padding: 0 !important;
	vertical-align: middle;
}

.cat-gallery .gal-chapo {
	font-style: italic;
	font-size: 1.5rem;
	color: #888;
}
