/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : http://www.pluxml.org
#
# Package:		print.css
# Print css file of Elegante Vitrine Template
# Copyright (c) 2020 Association Défis, https://www.defis.info
# Authors		Marion Bouder, Nathanaël "Thatoo" Leprette
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/
@media print {
body,
p,
.logo h1,
.encart h1,
.encartyellow h1,
.containerfxd h1,
.article header h2,
.article header h2 a,
.gal-thumb h2 a,
.gal-thumb span a,
.footer {
	font-family: 'Century Gothic', 'Courier New', sans-serif;
	background-color: #fff;
	text-align:justify;
}
.header {
	background-color: #fff;
	height: 4rem;
	display: block;
}
.logo img {
	height: 4rem;
	padding: 1rem;
	float: left;
	filter: invert(21%) sepia(8%) saturate(4%) hue-rotate(314deg) brightness(96%) contrast(102%);
}
.logo h1,
.encart h1,
.encartyellow h1,
.containerfxd h1 {
	font-size: 15pt;
	text-transform: uppercase;
}

/* ------- Article ------- */

.article header h2,
.article header h2 a {
	color: #333;
	font-size: 15pt;
}
.article .art-date {
	color: #666;
}
.article .written-by:after,
.article .classified-in:after {
	content: '|';
	padding-left: 0;
}
/* ---------- Bouton ---------- */
.button,
.button.block,
button.blue,
input[type="button"].blue,
input[type="reset"].blue,
input[type="submit"].blue {
	background-color: #fff;
  color: #333;
  margin: auto;
  cursor: pointer;
  text-align: center;
	border: 1px solid #333;
}
.button,
.button.block {
  display: block;
  width: 50%;
}

/* ---------- Main ---------- */

.colorgrey,
.colorwhite {
	background-color: #fff;
}

/* ------- container fixe ------- */

.containerfxd {
	margin: 0 auto;
	width: 100%;
}

.containerfxd .col,
.colorgrey .col,
.colorwhite .col {
	width: 100% !important;
}

/* ------ alignement vertical des éléments par le centre -----*/

.flex450,
.flex230,
.flex144 {
display: flex;align-items: center;padding-right: 0px;
}

/* ------- encart ------- */

.encart,
.encartyellow {
	background-color: #fff;
	text-align: justify;
}

a,
.header a,
.article header small,
.comment small,
.encartyellow p,
.footer a {
	color : #333;
	padding:0 1.5mm;
}
.breadcrumb,
a[href]:after,
nav .nav,
.logo.sml-show,
.cat-gallery .sml-show,
article img,
.thumb-cat img,
.capcha-letter,
.capcha-word,
.capcha-word,
#form,
.button.block.contact:after,
.button.download:after,
.arrowleft span,
.img600,
.img400,
.img250,
.art-navigation-overlay,
.art-navigation,
.art-navigation a,
#comment,
#footer-page,
#pagination,
#scrollToTop,
.article+h3,
.article~form,
.article~h2,
.no-print,
.social-buttons,
aside,
iframe,
nav{display:none} {
  display: none! important;
}
.cat-gallery .gal-chapo {
	font-style: italic;
	font-size: 12pt;
	color: #666;
}
/* ------- Réalisations ------- */
.cat-gallery {
	height: 100%;
	background-color: #fff;
}
.cat-gallery .image img {
	display: block !important;
	max-height: 800px;
}
}
