/* ---------- Main ---------- */

.colorgrey {
	background-color: #e0e0e0;
	padding:8rem 0;
}

.colorwhite {
	background-color: #fff;
	padding:8rem 0;
	margin: 1rem 0;
}

/* ------- container fixe ------- */

.containerfxd {
	margin: 0 auto;
	max-width: 1280px;
	padding: 5rem 1.5rem;
	width: 100%;
}

.containerfxd h1 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 2.7rem;
	text-align: center;
	color: #e99827;
}

/* ------ alignement vertical des éléments par le centre -----*/

.flex450 {
	height: 450px;display: flex;align-items: center;padding-right: 0px;
}

.flex230 {
	height: 230px;display: flex;align-items: center;padding-right: 0px;
}

.flex144 {
	height: 144px;display: flex;align-items: center;padding-right: 0px;
}


/* ------- encart ------- */

.encart {
	background-color: #fff;
	text-align: justify;
	padding: 2rem 3rem;
	margin: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.encart h1 {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 2.7rem;
	text-align: center;
	text-transform: uppercase;
	color: #0f3a69;
	border-bottom: 0.3rem solid #e99827;
	margin: 1rem 2rem 3rem 0;
	padding: 0 0 2rem 0;
}

.encartyellow {
	background-color: #e99827;
	text-align: justify;
	padding: 2rem 3rem;
	margin: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.encartyellow p {
	color : #fff;
}

.encartyellow h1 {
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2.7rem;
	color: #fff;
	border-bottom: 0.3rem solid #0f3a69;
	margin: 1rem 2rem 3rem 0;
	padding: 0 0 2rem 0;
}


/* ------- Image ------- */
.img600 {
  display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 600px;
	height: auto;
}

.img400 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
	height: auto;
}

.img250 {
  display: block;
  margin-left: auto;
  margin-right: auto;
	max-width: 250px;
	height: auto;
}
