/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : http://www.pluxml.org
#
# Package:		theme.css
# Main css file of Elegante Vitrine Template
# Copyright (c) 2020 Association Défis, https://www.defis.info
# Authors		Marion Bouder, Nathanaël "Thatoo" Leprette
# adapted from work of Stephane F., Pedro "P3ter" CADETE.
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/
/* ---------- Fonts ---------- */
@import url("../fontello/css/fontello.min.css") screen;

/* ---------- TYPOGRAPHY ---------- */

body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 1.4rem;
	line-height: 1.4em;
	color: #3A4145;
	background-color: #fff;
	text-align:justify;
	letter-spacing: 0.5px;
}

a {
	color: #0f3a69;
	text-decoration: none;
}

a:active, a:hover {
    color: #e99827;
		text-decoration: none;
}

/* ---------- FORM ---------- */
.text-blue {
	color: #0f3a69;
}

textarea:focus {
	border: 1px solid #0f3a69;
}

.menu.expanded li.active a,
.menu.expanded li.active:hover {
	background-color: #0f3a69;
}

/* ---------- NAVIGATION ---------- */

.nav {
	text-align: right;
	font-weight: 600;
}

ul.menu {
	margin: 0 0 1rem 0;
}

.menu li.menu {
	padding: 3.3rem 0;
}

.menu li.menu:hover {
	padding: 3.3rem 0;
	background-color: #264d78; /*(ma couleur 90% light)*/
	border-bottom: 0.3rem solid #e99827;
}

.menu li ul {
	display: none;
	position: absolute;
	padding: 0;
	line-height: 2.8rem;
	z-index: 10;
}

.menu li:hover ul {
	display: block;
}

.menu ul li {
	display: block;
	margin: 0;
	padding: 0 1rem;
	background-color: #fff;
	text-align: left;
}

li.active a,
a.active {
	color: #fff;
}

.static.group.active,
.static.menu.active a {
	color: #fff;
	white-space: nowrap;
	padding : 3.3rem 1.7rem;
	border-bottom: 0.3rem solid #e99827;
}

.static.group.noactive,
.static.menu.noactive a {
	color: #fff;
	white-space: nowrap;
	padding: 3rem 1.6rem;
}

@media (min-width: 1200px) AND (max-width: 1421px) {
	.static.group.active,
	.static.menu.active a {
		padding : 3.3rem 1.7rem !important;
	}

	.static.group.noactive,
	.static.menu.noactive a {
		padding: 3rem 1.5rem !important;
	}
}

@media (max-width: 963px) {
	.static.group.active,
	.static.menu.active a {
		padding : 3.3rem 0 !important;
	}

	.static.group.noactive,
	.static.menu.noactive a {
		padding: 3rem 0 !important;
		font-size: small;
	}
}

@media (max-width: 767px) {
	.col {
		padding-right: 0 !important;
	}
	.responsive-menu label {
		background-color: transparent;
		color: #fff;
		font-size: 3.5rem;
		margin: 2.6rem 2rem 2.6rem 0rem;
		text-align: right;
	}
	.responsive-menu label:before {
		content: '\2630';
	}
	.responsive-menu {
		float: right;
	}
	.menu {
		max-height: 100vh;
	}
	li.menu {
		background: #0f3a6a;
	}
	.menu li.menu {
		padding: 1rem 2rem;
		text-align: center;
	}
	.static.menu:hover,
	.static.menu:hover a {
		padding: 1rem 2rem;
		background-color: #264d78; /*(ma couleur 90% light)*/
		border-bottom: none !important;
		color: #e99827 !important;
	}
	.responsive-menu ul li a {
		line-height: 100%;
	}
	.static.menu.noactive,
	.static.menu.noactive a {
		padding: 1rem 2rem !important;
		font-size: small;
	}
	.static.menu.active,
	.static.menu.active a{
		color: #e99827 !important;
		background-color: #264d78; /*(ma couleur 90% light)*/
		border-bottom: none !important;
		padding: 1rem 2rem !important;
		font-size: small;
	}
	.static.menu.active:hover{
		background-color: #264d78; /*(ma couleur 90% light)*/
	}
}

/* ---------- OTHER COMPONENTS ---------- */

.alert.blue {
	background-color: #dbedf9;
}

.progress span {
	background-color: #0f3a69;
}

.badge,
.label {
	background-color: #0f3a69;
}
.menu.expanded .active a .badge {
	color: #0f3a69;
}

/* -- Tooltip -- */


/* ---------- HELPER ---------- */

.show {
	display: block;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* ---------- GRID, GALLERY, AND HELPER ---------- */

.container {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.grid {
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
}
.col {
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 4rem;
	padding-right: 4rem;
	width: 100%;
}

/* ---------- Header ---------- */

@media (min-width: 48rem) {

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 64rem) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.header {
	background-color: #0f3a69;
	height: 8.7rem;
	z-index: 2;
}

.header a {
	color: #fff;
}

.header a:hover {
	text-decoration: none;
}

.logo {
	padding-right: 0;
}

.logo img {
	height: 9rem;
	padding: 2rem 0;
	float: left;
}

.logo h1 {
	font-family: 'Trebuchet MS', sans-serif;
  font-size: 2.7rem;
	display: inline-block;
	margin: 3.5rem 1rem;
}

/* ---------- Main ---------- */

.main {
	background-color: #fff;
}

.repertory {
	margin-top: 4rem;
}

/* ------- Pagination ------- */

.pagination {
	margin: 3rem 0 3rem 0;
}

.pagination a {
	background-color: #0f3a69;
	border-radius: .3rem;
	color: #fff;
	padding: .9rem .7rem;
	transition-duration: .2s;
}

.pagination a:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}

.pagination span:first-letter,
.pagination a:first-letter {
	text-transform: uppercase;
}

.p_first,
.p_prev,
.p_current,
.p_next,
.p_last {
	display: inline-block;
}

/* ------- Actualités ------- */

.thumb-cat img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	float: none!important;
	max-height: 230px;
}

/* ------- Réalisations ------- */
.cat-gallery {
	text-align: center;
	background-color: #e0e0e0;
	display: block;
}

.cat-gallery h2 {
	font-weight: 700;
	margin: 1rem 0 0.5rem 0;
	font-size: 1.5rem;
}

.cat-gallery .article{
	height: 100%;
  color: #888;
}

/* ------- Article ------- */

.article header {
	margin-top: 2rem;
}

.article header div {
	margin: 0;
}

.article header h2,
.article header h2 a {
	color: #222;
	font-size: 3.2rem;
	line-height: 1.2em;
	letter-spacing: -1px;
	font-weight: bold;
	margin: 0;
}

.article header h2 a:hover {
	color: #111;
	text-decoration: none;
}

.article header small,
.comment small {
	color: #9eabb3;
}

.article header span:before,
.article header time:before,
.article footer span:before {
	padding-left: 1.5rem;
	padding-right: .3rem;
}

.article .art-date {
	color: #9eabb3;
}

.article .written-by:after {
	content: '|';
	padding-left: 0;
}

.article .classified-in:after {
	content: '|';
	padding-left: 0;
}

.article img.art_thumbnail {
	padding: 30px 15px 15px 0;
	float: left;
}

.page.mode-article .article footer {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

/* ---------- Capcha ---------- */

.capcha-letter,
.capcha-word {
	font-weight: bold;
}

.capcha-word {
	background-color: #ddd;
	border-radius: .3rem;
	letter-spacing: .5rem;
	padding: .9rem .7rem;
	transition-duration: .2s;
}

.capcha-word:hover {
	background-color: #666;
	color: #fff;
	transition-duration: .2s;
}

/* ---------- Commentaires ---------- */

#id_rep {
	width: auto;
	display: inline;
}

/* ---------- Footer ---------- */

.footer {
	background: #0f3a69;
	color: #fff;
	padding: 2rem 6rem;
	font-size: 1.4rem;
	text-align: center;
}
.audits {
	margin-bottom: 1rem;
	border-bottom: solid thin;
	padding-bottom: 1rem;
}
footer p {
		margin: 0;
}

footer .left p {
	float: left;
}

footer .right p {
	float: right;
}

.footer a {
	color: #6f88a5;
}

.footer .licence img {
	vertical-align: middle;
	max-height: 2rem;
	border-width:0
}

@media (max-width: 1200px) {
	footer p {
			float: none!important;
	}
}

/* ---------- Bouton ---------- */

.button {
  display: block;
  width: 50%;
  background-color: #0f3a69;
  color: #fff;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.button:hover {
	background-color: #e99827;
	color: #0d345e;
}

.button.block {
  display: block;
  width: 100%;
  background-color: #0f3a69;
  color: #fff;
  margin: 3rem 0 1rem 0;
  cursor: pointer;
  text-align: center;
}

.button.block:hover {
	background-color: #e99827;
	color: #0d345e;
}

button.blue,
input[type="button"].blue,
input[type="reset"].blue,
input[type="submit"].blue {
	background-color: #0f3a69;
}

button.blue:hover,
input[type="button"].blue:hover,
input[type="reset"].blue:hover,
input[type="submit"].blue:hover {
	background-color: #e99827;
	color: #0f3a69;
}

/* ---------- Fontello ---------- */

.button.block.contact:after,
.button.download:after,
.eco::before,
.arrow-right::before,
.wheelchair::before {
	font-family: "fontello";
	color: #fff;
	font-size: 1.5rem;
	padding: 0 1rem;
}
.button.block.contact:after {
	content: '\f0e0'; /*ou '\e816' pour icone avec seulement les contours*/
}
.button.download:after {
	content: '\f15c';
}
.eco::before {
	content: '\f299';
}
.arrow-right::before {
	content: '\f178';
}
.wheelchair::before {
	content: '\f193';
}
