.kz-contact textarea {
	width: 100%;
	height: 300px;
	font-size: 100%;
	padding: 10px;
	color: black;
	resize: vertical;
}

.kz-contact .spacer {
	flex-grow: 1;
}

.kz-contact .capcha-letter {
	padding: 0 0.5rem;
}

.kz-contact .capcha-word {
	margin: 0 1rem;
	padding: 0 0.7rem;
}

.kz-contact #id_rep {
	margin-right: 1rem;
	width: 4rem;
	text-align: center;
}

.contact_error {
	color: red;
	background-color: #ffffc8;
	padding: 0 1rem;
}

/*
form.kz-contact_submit div:last-of-type input {
    margin: 2em 1em;
    padding: 10px;
	text-align: center;
}
form.kz-contact p label[for="id_content"] {
	display: block;
	text-align: initial;
	text-indent: 0;
}
form.kz-contact_submit {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
form.kz-contact_submit div {
	width: 48%;
}
form.kz-contact_submit #id_rep {
	text-align: center;
}
form.kz-contact > p:first-of-type {
	text-align: center;
}
form.kz-contact .contact_error {
	color: red;
	text-align: center;
	text-indent: 0;
}
form.kz-contact .success {
	padding: 1em;
	margin: 1em 10%;
	font-size: 125%;
}
form.kz-contact .success + p {
	text-align: center;
}
form.kz-contact .success + p input {
	padding: 10px 20px;
}
* */

/* ------ spinner ------- */
.kz-contact.lds-ellipsis {
	position: fixed;
	display: inline-block;
	width: 80px;
	height: 80px;
	top: calc(50vh - 40px);
	left: calc(50vw - 40px);
}
.kz-contact.lds-ellipsis:not(.active) {
	display: none;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #444;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* --------- responsive design ----------- */
@media screen and (min-width: 48rem) {
	form.kz-contact {
		--labelw: 15rem;
	}
	form.kz-contact fieldset {
		padding: 0.3rem 0.5rem;
		border-radius: 1rem;
	}
	form.kz-contact fieldset:not(:first-of-type){
		margin-top: 0.5rem;
	}
	.kz-contact div:not(:first-of-type) {
		margin-top: 0.3rem;
	}
	.kz-contact div.kz-contact-footer {
		margin-top: 1rem;
	}
	form.kz-contact label {
		width: var(--labelw);
		text-align: right;
	}
	form.kz-contact div.large label {
		display: block;
		width: 100%;
		text-align: initial;
	}
	form.kz-contact div.large input {
		width: 100%;
	}
	form.kz-contact input[type="number"] {
		width: 5rem;
	}
	form.kz-contact input[name="title_htmltag"],
	form.kz-contact input[type="email"][multiple] {
		width: calc(100% - var(--labelw));
	}
	form.kz-contact textarea {
		width: 100%;
		resize: vertical;
	}
	form.kz-contact select {
		margin: 0;
	}
	form.kz-contact div.kz-contact-footer {
		display: flex;
		justify-content: space-between;
	}
}
