#form_share_me {
	--label-width: 12rem;
	max-width: 78rem;
	border: 1px solid #222;
	border-radius: 0.5rem;
	/* position: relative; */ /* Pour positionner le logo */
	padding: 0 0.8rem;
}
#form_share_me label {
	display: inline-block;
	width: auto;
	text-align: right;
	margin-right: 0.5rem;
	padding-left: 1rem;
}
#form_share_me label[for] {
	cursor: pointer;
}
#media_selection {
	font-weight: bold;
	font-size: 120%;
	margin: 0;
	margin-left: 0.5rem;
}
#id_media_img {
}
#form_share_me .expand {
	display: flex;
}
#form_share_me .expand input[type="text"] {
	flex-grow: 1;
}
#form_share_me .center {
	text-align: center;
	text-indent: 0;
}
#form_share_me input[type="checkbox"] + img {
	margin: 0 0.3rem;
	max-width: 32px;
	vertical-align: bottom;
}
#form_share_me > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#form_share_me .networks p {
	--network-width: 25rem;
	display: flex;
	margin: 0 0.2rem;
	padding: 0.3rem 0;
	width: var(--network-width);
}
#form_share_me .networks label {
	width: var(--label-width);
}
#form_share_me .networks input[type="text"] {
	width: calc(var(--network-width) - var(--label-width) - 22px - 32px - 1rem);
	z-index: 20;
}
#form_share_me .networks input[type="text"]:focus {
	width: 20rem;
}
#form_share_me .extras p {
    margin: 0;
    padding: 0.3rem 0;
}
#form_share_me label.help {
	width: auto;
	text-align: initial;
}
#form_share_me input[type="checkbox"].help {
	display: none;
}
#form_share_me input[type="checkbox"].help + span {
	display: none;
	position: absolute;
	max-width: 20rem;
	border: 1px solid #bbb;
	background-color: #eee;
	padding: 0.3rem 0.5rem;
	text-align: justify;
}
#form_share_me input[type="checkbox"].help:checked + span {
	display: block;
}
#form_share_me a.hint span {
	text-align: justify;
}
@media (min-width: 1020px) {
	#id_media_img {
		position: absolute;
		right: 1.5rem;
		bottom: 18rem;
		margin: 0;
		padding: 0;
		max-width: 15rem;
	}
}
@media (max-width: 380px) {
	#form_share_me {
		border: none;
		padding: 0;
	}
}
/* ************** for displaying help *************** */
#help_share_me {
	max-width: 750px;
}
#help_share_me p {
	margin: 0.8em 5px;
	text-align: justify;
	text-indent: 0.8em;
}
#help_share_me ul {
	margin: 0.8em 5px;
	list-style: none;
}
#help_share_me pre {
	padding-left: 2em;
	background-color: #000;
	color: #FFF;
}
#help_share_me ul {
	display: flex;
}
#help_share_me li a {
	display: block;
	margin: 0.3em 5px;
	width: 70px;
	text-align: center;
}
#help_share_me a:hover {
	background-color: green;
	color: #FFF;
}
#logo-opengraph {
	position: fixed;
	top: 2rem;
	right: 0.5rem;
	z-index: 99;
}