.social-buttons {
	display: flex;
	height: 20px;
	list-style: none;
	padding: 0;
	margin: 20px 0;
	justify-content: center;
}

.social-buttons li {
	display: inline-block;
	width: 20px;
	margin: 0 0.3rem;
}

.social-buttons img {
	max-width: 20px;
	box-shadow: none;
	cursor: pointer;
	filter: invert(17%) sepia(95%) saturate(738%) hue-rotate(180deg) brightness(96%) contrast(100%);
}
.social-buttons img:hover {
	opacity: 0.6;
	filter: invert(76%) sepia(13%) saturate(4684%) hue-rotate(340deg) brightness(94%) contrast(94%);
}

.social-buttons a {
	display: block;
	height: 32px;
}
/* Acceptation des cookies (cookieConsents) */
.cc-window.cc-theme-share_me {
	padding: 0;
	color: #fff;
	background-color: #209967;
}
.cc-window.cc-theme-share_me.cc-floating {
	text-align: center;
	text-indent: 0;
}
.cc-window.cc-theme-share_me .cc-message {
	padding: 0.3rem 0.8rem;
}
.cc-window.cc-theme-share_me .cc-btn {
	background-color: #0f3a69;
	color: #fff;
	letter-spacing: 0.2rem;
	border: none;
}
.cc-window.cc-theme-share_me .cc-btn:hover {
	background-color: #e99827;
	color: #0d345e;
}