
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */