/*
# Thème pour la zone d'administration de PluXml
# Copyright (c) 2015 Pluxopolis
# Site			http://pluxopolis.net
# Authors		Stéphane F.
#
# Modifié par Marion Bouder et Nathanaël 'Thatoo' Leprette
# Accompagné dans son développement par bazooka07
# Pour l'Association Défis : https://www.defis.info
#
# Installation: Administration > Paramètres > Configuration avancée :
# Emplacement et nom du fichier css personnel pour la personnalisation de l'interface d'administration
*/

#auth {
	background-color: #fff;
}

#auth .logo {
	background-color: #fff;
	background-image: url(images/defis.png);
	margin: 10% auto 20px auto;
	height: 112px;
	width: 300px;
	border: 1px solid #bbb;
	border-radius: .6rem;
}

#auth .auth {
	background-color: #fff;
}

#auth h1 strong {
	color: #209967;
}

@media (max-width: 767px) {
	.header {
		padding-left: 10px;
	}
}

/* ===== Ajout des icônes devant les menus ===== */

ul#responsive-menu h3 {
	font-weight: 600;
	text-transform: uppercase;
	padding-left:1rem;
}

ul#responsive-menu li a::before {
	font-family: fontello;
}
ul#responsive-menu li a:first-of-type::before {
	padding: 0 2rem;
}

ul#responsive-menu li a:nth-of-type(2) {
	float: right;
	border-left: dotted;
}
ul#responsive-menu li a:nth-of-type(2)::before {
	content: '\e807';
	padding: 0 1rem;
	font-size: larger;
}
ul#responsive-menu li a:nth-of-type(2):hover {
	background-color: #ea9924;
}

ul#responsive-menu li#mnu_index a::before { content: '\f0f6'; }
ul#responsive-menu li#mnu_index-001 a:first-of-type::before { content: '\f0f6'; }
ul#responsive-menu li#mnu_index-002 a:first-of-type::before { content: '\e805'; }
ul#responsive-menu li#mnu_article a::before { content: '\e803'; }
ul#responsive-menu li#mnu_medias a::before { content: '\e811'; }
ul#responsive-menu li#mnu_statiques a::before { content: '\e806'; }
ul#responsive-menu li#mnu_comments a::before { content: '\e802'; }
ul#responsive-menu li#mnu_categories a::before { content: '\e808'; }
ul#responsive-menu li#mnu_profil a:before { content: '\f2bc'; }
ul#responsive-menu li#mnu_parametres_base a:before { content: '\e813'; }
ul#responsive-menu li#mnu_parametres_base.menu.menu-config a:before { content: '\e810'; }
ul#responsive-menu li#mnu_parametres_affichage a:before { content: '\f108'; }
ul#responsive-menu li#mnu_parametres_users a:before { content: '\e800'; }
ul#responsive-menu li#mnu_parametres_avances a:before { content: '\e804'; }
ul#responsive-menu li#mnu_parametres_themes a:before { content: '\f1fc'; }
ul#responsive-menu li#mnu_parametres_plugins a:before { content: '\f12e'; }
ul#responsive-menu li#mnu_parametres_infos a:before { content: '\f129'; }
/* ici on peut déclarer des icones en fonction des plugins activés qui apparaissent dans le menu*/
ul#responsive-menu li#mnu_maxicontact a::before { content: '\f0e0'; }
ul#responsive-menu li#mnu_myplugindownloader a::before { content: '\f1b2'; }
ul#responsive-menu li#mnu_myslippry a::before { content: '\e80e'; }

ul#responsive-menu li a {
	font-family: 'Lucida Grande', Verdana, sans-serif;
}

ul#responsive-menu .menu-config  a{
	font-size: 1.3rem;
	padding-left: 3rem;
}

/* alignement des boutons d'ajout d'article en tant que rédacteur */
.aside .menu .extended a {
	display: inline-block;
}

/* ===== Personnalisation des couleur */

/* couleur des liens */
a {
	color: #113867;
}

/* ===== Sidebar top.php */

/* couleur de fond de la sidebar */
.aside {
	background-color: #113867;
}
/* couleur des liens */
.aside a {
	color: #fff;
}
.aside a:hover {
	color: #ea9924;
}
/* dimension head sidebar */
.aside .unstyled-list.head {
	padding: .7rem 2rem;
}
/* couleur du titre du site */
.aside .unstyled-list.profil {
	background-color: #113867;
	color: #fff;
	padding: .5rem 2.8rem;
}
.aside .unstyled-list.profil small {
	width: 200px;
	display: inline-block;
}
.aside .unstyled-list.profil li:first-child {
	margin-bottom: 0.5rem;
}
/* couleur des sous menus */
.aside .menu-config  {
	background-color: #113867;
}
/* alignement et bordure du header de la sidebar */
.aside, .header {
	text-align:left;
	border-right: 1px solid #888;
}
/* couleur version PluXmml harmonisé */
.aside .version {
	color: #fff;
}
/* alignement de div name_profil dans sidebar */
.aside .name_profil {
	position: absolute;
	bottom: 10px;
	padding-left: 3.55rem;
	color: #fff;
}

/* couleur de fond des onglets au survol de la souris */
ul#responsive-menu li:hover {
	background-color: #ea9924;
}
/* couleur des menus au survol de la souris */

ul#responsive-menu li a:hover{
	color: #333;
}

/* couleur de fond l'onglet actif et de son menu */
ul#responsive-menu li.active,
ul#responsive-menu li.active a,
ul#responsive-menu li.active:hover {
	 background-color: #3fbabb;
	 color: #fff;
}

ul#responsive-menu li#mnu_parametres_base.active,
ul#responsive-menu li#mnu_parametres_base.active a {
	 background-color: unset;
	 color: #fff;
}

ul#responsive-menu li#mnu_parametres_base.menu.menu-config.active,
ul#responsive-menu li#mnu_parametres_base.menu.menu-config.active a {
	 background-color: #3fbabb;
	 color: #fff;
}

/* couleur de survol des boutons d'ajout d'article en tant que rédacteur */
.aside .menu .extended a:nth-of-type(2):hover {
	color: red !important;
}

/* couleur de la barre d'action */
.section .action-bar {
	background-color: #113867;
	color: #e0e0e0;
}
.section .action-bar a {
	color: #fff;
}
.section .action-bar
input[type="submit"] {
	/*background-color: #e99827;*/
	color: #fff;
}
.section .action-bar
input[type="submit"]:hover {
	/*background-color: #e3911e;*/
	color: #fff;
}
.section .action-bar
input[type="submit"].red {
	background-color: #2CC5C6;
	color: #fff;
}
/* couleur des tableaux */
.scrollable-table th { /* couleur de fond des entêtes */
}
.scrollable-table tr:hover { /* couleur de fond des lignes au survol de la souris */
}
.scrollable-table a { /* couleur du texte des entêtes de tableau */
}
.scrollable-table
input[type="submit"] { /* couleur des boutons */

	font-weight: normal;
}
.scrollable-table
input[type="submit"]:hover { /* couleur des boutons au survol de la souris */

}
.scrollable-table .line-0 {
	background-color: #eee;
}
.scrollable-table .line-1 {
	background-color: #fff;
}

thead tr {
	background-color: #e0e0e0;
	color: #000;
}
thead tr:hover {
	background-color: #e0e0e0;
}
tbody tr:hover {
	background-color: #ea9924;
	color: #fff;
}
tbody tr td:first-child {
	background-color: #e0e0e0;
}
/* couleur des boutons */
input[type="submit"] {
	background-color: #3fbabb;
	color: #fff;
	font-weight: normal;
}
/* couleur des boutons au survol de la souris */
input[type="submit"]:hover {
	background-color: #23a3a4;
	color: #fff;
}

 #btnNewFolder {
	 background-color: #3fbabb;
 }

 #btnNewFolder:hover {
	background-color: #23a3a4;
 }

/* couleur de la sidebar dans article */
.sidebar {
	background-color: #e0e0e0;
}

/* couleur de la bordure des éléments en focus */
input:focus, select:focus, textarea:focus {
	border-color: #ea9924;
}

/* ===== Effets de style + icônes */

/* icône loupe dans le champ de recherche */
input[name="artTitle"] {
	padding-left:20px;
	background-repeat: no-repeat;
	background-position-y: 8px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADbSURBVDhP5ZI9C4MwEIb7//+BEDgICA6C4OQgBJy6dRIEB6EgCNkEJ4e3iT2oHzH9wHbpAwfyJvfkJDnhYH4kHDVKlSAigSAQoCiBKjVGXvaxFXZnxBQYkSlBICII+22K4jM63rbHSthCSdsskVX9Y6KxR5XJSSpVy6GbpbBKp6aw0BzM0ShCe1iKihMXC6EuQtMQwukzPFu3fFd4+C+/cimUNxy6WQkNnmdzL3NYPfDmLVuhZf2wZYz80qDkKX1St3CXAfVMqq4cz3hTaGEpmctxDPmB0M/fCYEbAwZYyVKYcroAAAAASUVORK5CYII=);
}

/* Ajout d'une icône flèche devant les liens de retour */

.back:before {
	font-family: fontello;
	content: '\e815';
	padding-right: 5px;
}
.section .action-bar p {
	margin: 1rem 0;
}
.back:hover {
	text-decoration: none;
	background-color: #ea9924;
}

/* Ajout d'une icône devant les liens Retour au Site/Blog et Déconnexion */

.back-site:before {
	font-family: "fontello";
	content: '\e80d';
	padding-right: 5px;
}
.back-blog:before {
	font-family: "fontello";
	content: '\f08e';
	padding-right: 5px;
}
.logout:before {
	font-family: "fontello";
	content: '\e80a';
	padding-right: 5px;
}
a.back-site,
a.back-blog,
a.logout {
	text-decoration: none;
	padding-left: 0.7rem;
	/*font-size: 0.85rem;*/
}

/* ------ index.php --------- */
ul.unstyled-list li{
	padding-left: 0.75rem;
}
.menu li {
	padding: 0 0.75rem;
}
.menu li.selected {
	background-color: #3fbabb;
}
.menu li:hover {
	background-color: #ea9924;
}
.section .action-bar ul {
	margin: 1rem 0;
}
