
.icon-user:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-cog-alt:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-link:before { content: '\e80c'; } /* '' */
.icon-home-1:before { content: '\e80d'; } /* '' */
.icon-rss:before { content: '\e80e'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e80f'; } /* '' */
.icon-cog-1:before { content: '\e810'; } /* '' */
.icon-camera:before { content: '\e811'; } /* '' */
.icon-logout-1:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e814'; } /* '' */
.icon-left-big:before { content: '\e815'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-puzzle-1:before { content: '\f12e'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */